@charset "UTF-8";

* {
    font-family: Cambria, serif;
    margin: 0px;
    padding: 0px;
}

:root {
    --corCon: #7A9CDB;
    --CorCla: #f8dcae;
    --corInt: #B97E43;
        --corIntT: #b97e43a4;
    --corEsc: #58320E;
        --corEscT: #58320e9a;
}

h1, h2, aside, main {
    backdrop-filter: blur(2px);
}

body {
    background-color: var(--corCon);
    background-image: url('img/frame.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    color: var(--CorCla);
}

p {
    text-align: justify;
}
p+p {
    margin-top: 10px;
}
pre {
    font-family: monospace;
    width: fit-content;
    margin: 15px auto;
}

h1 {
    text-align: center;
    margin: 0px auto 20px auto;
    background-color: var(--corEscT);
    max-width: 360px;
    height: 50px;
    padding: 10px 0px 0px 0px;
    border-radius: 0px 0px 55px 55px;
    font-variant: small-caps;
    letter-spacing: 5px;

    transition: height 1s, padding 1s;
}
h1:hover {
    padding: 60px 0px 0px 0px;
    height: 50px;
}

h2 {
    background-color: var(--corEscT);
    margin: 20px 0px 20px 25vw;
    padding: 15px 15px 15px 25px;
    border-radius: 55px 0px 0px 55px;
    transition: margin 1s;
}
h2:hover {
    margin: 20px 0px 20px 20vw;
}

main {
    max-width: 500px;
    background-color: var(--corEscT);
    padding: 20px 20px 20px 30vw;
    border-radius: 0px 20px 20px 0px;
    margin: 20px 0px;

    transition: padding 1s;
}
main:hover {
    padding: 20px 20px 20px 25vw;
}

ul {
    margin: 15px 0px 15px 25px;
}

iframe {
    width: 100%;
    height: 300px;
    border: 2px solid rgb(218, 195, 163);
    border-radius: 10px;
}
a {
    color: var(--corCon);
    text-decoration: none;
}
a:hover {
    font-weight: bold;
}
a:active {
    font-weight: bolder;
    color: var(--CorCla);
}

aside {
    background-color: var(--corIntT);
    color: white;
    padding: 20px;
    margin: 20px 0px;
}

aside > section {
    max-width: 400px;
    margin: 20px auto;
}

article {
    margin: 20px;
}

article {
    background-color: var(--CorCla);
    padding: 25px 19px 55px 25px;
    border-radius: 60px 60px 0px 0px;
    width: fit-content;
    margin: 36px auto 0px auto;
}
article > a {
    color: var(--corCon);
    font-size: 2.5em;
    transition: font-size 0.3s, color 0.3s;
}
article>a:hover {
    color: var(--corEsc);
    font-size: 3em;
}